#mongodb creds
MONGODB_URI=

#default is 5001. Leave empty if you dont want to change
PORT=

#update the PORT number with the one you want to use (Leave 5001 for default)
BASE_URL=http://localhost:5001

#set to "production" if in product, otherwise set to anything else
NODE_ENV=NOTproduction

#Upstash creds
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=