.mainTitle{
    color: white;
    font-size: 70px;
    font-weight: 300;

}
.bodyText{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.background{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}